{% load static %}
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
   <title>Home</title>
    <link rel="stylesheet" href="{% static 'home.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <nav>
      <div class="logo">ScriptSketch</div>
      <input type="checkbox" id="click">
      <label for="click" class="menu-btn">
        <i class="fas fa-bars"></i>
      </label>
      <ul>
        <li><a class="active" href="http://127.0.0.1:8000/imageGeneratorAIApp/home/">Home</a></li>
        <li><a href="http://127.0.0.1:8000/imageGeneratorAIApp/about/">About</a></li>
        <li><a href="#">Editor</a></li>
        <li><a href="#">Explore</a></li>
        <li><a href="#">User</a></li>
      </ul>
    </nav>